<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Post</title>
</head>
<body>
<div th:insert="~{fragments/headerFragment :: header(${currentUser})}"></div>
<div>
  <a th:href="@{'/users/'+${post.author.id}}" th:text="author"></a>
  <h3 th:text="${post.title}">title</h3>
  <p th:text="${post.body}">body</p>
  <div>
    <p th:text="'liked by '+${post.likesCount}">liked by</p>
    <a th:href="@{'/users/liked/post/'+${post.id}}">get all</a>
  </div>
  <div th:each="tag : ${tags}">
    <a th:href="@{'/posts/tag/'+${tag.id}}" th:text="${tag.body}" th:value="${tag.id}">tags</a>
  </div>
  <form th:action="@{'/posts/'+${post.id}+'/update'}" method="get" th:if="${authorId==userId}">
    <button type="submit">update</button>
  </form>
</div>
<form th:action="@{'/posts/'+${post.id}+'/like'}" method="post" th:if="${!isLiked}">
  <button type="submit">like</button>
</form>
<form th:action="@{'/posts/'+${post.id}+'/unlike'}" method="post" th:if="${isLiked}">
  <button type="submit">unlike</button>
</form>

<!--<div th:if="${post.images}" th:with="images=@{/api/v1/posts/{postId}/images(postId=${post.id})}">-->
<!--  <div th:each="img : *{images}">-->
<!--    <p th:text="${images}"></p>-->
<!--    <p th:src="@{img}"></p>-->
<!--&lt;!&ndash;    <img th:src="${img}" alt="image" style="width: 240px; height: 240px">&ndash;&gt;-->
<!--&lt;!&ndash;    <a th:text="img"></a>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<div>
  <div th:each="t : ${post.images}" th:if="${not t.path.isEmpty()}">
    <img th:src="@{'/api/v1/posts/'+${post.id}+'/images/'+${t.path}}" >
  </div>
</div>



<form th:action="@{'/posts/'+${post.id}+'/comment/new'}" method="post">
  <label for="body">
    <input id="body" type="text" name="body" placeholder="comment it">
  </label>
  <button type="submit">send</button>
</form>
<h3>Comments</h3>
<div th:each="comment : ${comments}">
  <div style="border: black solid">
    <a th:href="@{'/users/'+${comment.author.id}}" th:text="|${comment.author.firstName} ${comment.author.lastName}|"></a>
    <p th:text="${comment.body}"></p>
    <div>
      <p th:text="'liked by '+${comment.likes.size()}">liked by</p>
      <a th:href="@{'/users/liked/comment/'+${comment.id}}">get all</a>
    </div>
<!--    <p th:text="|liked by : ${comment.likes.size()}|"></p>-->
    <form th:action="@{'/posts/'+${post.id}+'/comment/'+${comment.id}+'/like'}" th:if="${!comment.likes.contains(currentUser)}" method="post">
      <button type="submit">like</button>
    </form>
    <form th:action="@{'/posts/'+${post.id}+'/comment/'+${comment.id}+'/unlike'}" th:if="${comment.likes.contains(currentUser)}" method="post">
      <button type="submit">unlike</button>
    </form>
    <form th:action="@{'/posts/'+${post.id}+'/comment/'+${comment.id}+'/edit'}" th:if="${userId==comment.author.id}" method="get">
      <button type="submit">edit comment</button>
    </form>
  </div>
</div>
</body>
</html>