<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Post</title>
</head>
<body>
<div th:insert="~{fragments/logoutFragment :: header}"></div>
<b><a th:href="@{'/posts/create'}">create</a></b>
<div th:each="post : ${posts}" style="text-align: center; font-size: 20px; position: relative; vertical-align: center; margin: 100px">
<!--  add author with ref-->
<!--  <div th:href="@{'/posts/'+${post.id}}" th:text="|${post.id}. ${post.title}'\n'${post.body}'\n'|"th:href="@{'/users/'+${post.author.id}}">Post</div>-->
  <div style="border: solid black; border-radius: 10px">
    <a th:href="@{'/users/'+${post.author.id}}" th:text="${post.author.firstName}">Author</a>
<!--    <a th:href="@{'/users/'+${user.id}}" th:text="|${user.id}. ${user.email}. ${user.firstName}|">User</a>-->
    <h3 th:text="${post.title}"></h3>
    <p th:text="${post.body}"></p>
    <a th:href="@{'/posts/'+${post.id}}" style="margin-bottom: 15px">полный пост</a>
  </div><br>
</div>
</body>
</html>

<!--<div th:each="user : ${users}">-->
<!--  <a th:href="@{'/users/' + ${user.id}}" th:text="|${user.id}. ${user.email}. ${user.firstName}|">User</a>-->
<!--</div>-->