<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" th:href="@{/css/forAll.css}" href="/static/css/forAll.css">
    <link rel="stylesheet" th:href="@{/css/post/postUpdate.css}" href="/static/css/post/postUpdate.css">
</head>
<body>
<header th:insert="~{fragments/headerFragment :: header(${currentUser})}"></header>
<form th:action="@{/posts/{postId}/update(postId=${post.id})}" method="post" enctype="multipart/form-data">
    <label for="title">Title:<br>
        <input id="title" type="text" name="title" th:value="*{post.title}">
    </label><br>
    <label for="body">Body<br>
        <input id="body" type="text" name="body" th:value="*{post.body}">
    </label><br>
    <label for="images">
        <input id="images" type="file" name="images" multiple>
    </label>
    <ul>
        <li th:each="tag : ${tags}">
            <div class="ui checkbox">
                <input type="checkbox" th:field="${post.tags}" th:value="${tag.id}" th:checked="${post.tags.contains(tag)}">
                <label th:text="${tag.body}"></label>
            </div>
        </li>
    </ul>
    <button type="submit">Update</button>
</form>
<div>
    <div th:each="t : ${post.images}">
        <!--    <p th:text="${t.path}"></p>-->
        <img th:src="@{'/api/v1/posts/'+${post.id}+'/images/'+${t}}">
        <form th:action="@{'/posts/'+${post.id}+'/images/'+${t}+'/delete'}" method="post">
            <button type="submit">delete image</button>
        </form>
    </div>
</div>
<form th:action="@{/posts/{postId}/update/delete(postId=${post.id})}" method="post">
    <button type="submit">Delete</BUTTON>
</form>

</body>
</html>