<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<div th:insert="~{fragments/logoutFragment :: header}"></div>
<form th:action="@{/posts/{postId}/update(postId=${post.id})}" method="post">
    <label for="title">Title:<br>
        <input id="title" type="text" name="title" th:value="*{post.title}">
    </label><br>
    <label for="body">Body<br>
        <input id="body" type="text" name="body" th:value="*{post.body}">
    </label><br>
    <ul>
        <li th:each="tag : ${tags}">
            <div class="ui checkbox">
                <input type="checkbox" th:field="${post.tags}" th:value="${tag.id}" th:checked="${post.tags.contains(tag)}">
                <label th:text="${tag.body}"></label>
            </div>
        </li>
    </ul>
    <button type="submit">Update</button>
</form>
<form th:action="@{/posts/{postId}/update/delete(postId=${post.id})}" method="post">
    <button type="submit">Delete</BUTTON>
</form>

</body>
</html>