<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Post</title>
</head>
<body>
<div th:insert="~{fragments/logoutFragment :: header}"></div>
<div>
  <a th:href="@{'/users/'+${post.author.id}}" th:text="author"></a>
  <h3 th:text="${post.title}"></h3>
  <p th:text="${post.body}"></p>
  <p th:text="'liked by '+${post.likesCount}"></p>
  <div th:each="tag : ${tags}">
    <a th:href="@{'/posts/tag/'+${tag.id}}" th:text="${tag.body}" th:value="${tag.id}"></a>
  </div>
  <form th:action="@{'/posts/'+${post.id}+'/update'}" method="get" th:if="${authorId==userId}">
    <button type="submit">update</button>
  </form>
</div>
<form th:action="@{'/posts/'+${post.id}+'/like'}" method="post" th:if="${!isLiked}">
  <button type="submit">like</button>
</form>
<form th:action="@{'/posts/'+${post.id}+'/unlike'}" method="post" th:if="${isLiked}">
  <button type="submit">unlike</button>
</form>
<form th:action="@{'/posts/'+${post.id}+'/comment/new'}" method="post">
  <label for="body">
    <input id="body" type="text" name="body" placeholder="comment it">
  </label>
  <button type="submit">send</button>
</form>
<h3>Comments</h3>
<div th:each="comment : ${comments}">
  <div style="border: black solid">
    <a th:href="@{'/users/'+${comment.author.id}}" th:text="|${comment.author.firstName} ${comment.author.lastName}|"></a>
    <p th:text="${comment.body}"></p>
    <p th:text="|liked by : ${comment.likes.size()}|"></p>
    <form th:action="@{'/posts/'+${post.id}+'/comment/'+${comment.id}+'/like'}" th:if="${!comment.likes.contains(currentUser)}" method="post">
      <button type="submit">like</button>
    </form>
    <form th:action="@{'/posts/'+${post.id}+'/comment/'+${comment.id}+'/unlike'}" th:if="${comment.likes.contains(currentUser)}" method="post">
      <button type="submit">unlike</button>
    </form>
    <form th:action="@{'/posts/'+${post.id}+'/comment/'+${comment.id}+'/edit'}" th:if="${userId==comment.author.id}" method="get">
      <button type="submit">edit comment</button>
    </form>
  </div>
</div>
</body>
</html>