<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" th:href="@{/css/forAll.css}" href="/static/css/forAll.css">
    <link rel="stylesheet" th:href="@{/css/user/user.css}" href="/static/css/user/user.css">
</head>
<body>
<!--    <div th:insert="~{fragments/logoutFragment :: header}"></div>-->
    <header th:insert="~{fragments/headerFragment :: header(${user})}"></header>
<main>
    <div class="user-edit_wrapper">
        <form th:action="@{/users/{userId}/update(userId=${user.id})}" method="post" th:object="${user}" enctype="multipart/form-data">
            <label for="firstName" class="firstname-label">Firstname:
                <input id="firstName" type="text" name="firstName" th:value="*{firstName}">
            </label><br>
            <label for="lastName" class="lastname-label">Lastname:
                <input id="lastName" type="text" name="lastName" th:value="*{lastName}">
            </label><br>
            <label for="username" class="username-label">Email:
                <input id="username" type="text" name="username" th:value="*{username}">
            </label><br>
            <label for="customLink" class="customlink-label">Custom Link:
                <input id="customLink" type="text" name="customLink" th:value="*{customLink}">
            </label><br>
            <div th:if="${user.avatar}" class="user-avatar">
                <img th:src="@{/api/v1/users/{userId}/avatar(userId=${user.id})}" alt="image" style="width: 240px; height: 240px">
            </div>
            <label for="avatar" class="avatar-label">
                <input id="avatar" type="file" name="avatar">
            </label>
            <!--        <label for="createdAt">Created at:-->
            <!--            <input id="createdAt" type="datetime-local" name="createdAt" th:value="*{createdAt}">-->
            <!--        </label><br>-->
            <div class="update-button_wrapper">
                <button type="submit" class="update-button">Update</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>