<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<div th:insert="~{fragments/logoutFragment :: header}"></div>
<div>
  <div th:if="${user.avatar}">
    <img th:src="@{/api/v1/users/{userId}/avatar(userId=${user.id})}" alt="image" style="width: 240px; height: 240px">
  </div>
  <p th:text="${user.firstName}">firstname</p>
  <p th:text="${user.lastName}">lastname</p>
<!--  <p th:text="${}">lastname</p>-->
  <p th:text="|followed by ${user.followers.size()}|"></p>
</div>
<div th:if="${currentUser.id!=user.id}">
  <form th:action="@{'/users/'+${user.id}+'/follow'}" method="post" th:if="${!isFollowed}">
    <button type="submit">follow</button>
  </form>
  <form th:action="@{'/users/'+${user.id}+'/unfollow'}" method="post" th:if="${isFollowed}">
    <button type="submit">unfollow</button>
  </form>
</div>
<div>
<!--  <h3>Подписчики</h3>-->
  <a th:href="@{'/users/followers/'+${user.id}}" th:text="followers"></a>
</div>
<div>
<!--  <h3>Подписки</h3>-->
  <a th:href="@{'/users/follows/'+${user.id}}" th:text="follows"></a>
</div>

<div th:each="post : ${posts}" style="text-align: center; font-size: 20px; position: relative; vertical-align: center; margin: 100px">
  <div style="border: solid black; border-radius: 10px">
    <a th:href="@{'/users/'+${post.author.id}}" th:text="${post.author.firstName}">Author</a>
    <h3 th:text="${post.title}"></h3>
    <p th:text="${post.body}"></p>
    <a th:href="@{'/posts/'+${post.id}}" style="margin-bottom: 15px">полный пост</a>
  </div><br>
</div>


<!--<h3 style="text-align: center; position: relative">Подписчики</h3>-->
<!--<div th:each="follower : ${user.followers}">-->
<!--  <div style="text-align: center; font-size: 20px; position: relative; vertical-align: center; margin: 100px; border-style: solid; border-radius: 10px">-->
<!--    <p th:text="|${follower.firstName} ${follower.lastName}|"></p>-->
<!--    <a th:href="@{'/users/'+${follower.id}}">ссылка на подписчика</a>-->
<!--  </div>-->
<!--</div>-->

<!--<h3 style="text-align: center; position: relative">Подписки</h3>-->
<!--<div th:each="follow : ${follows}">-->
<!--  <div style="text-align: center; font-size: 20px; position: relative; vertical-align: center; margin: 100px; border-style: solid; border-radius: 10px">-->
<!--    <p th:text="|${follow.firstName} ${follow.lastName}|"></p>-->
<!--    <a th:href="@{'/users/'+${follow.id}}">ссылка на подписчика</a>-->
<!--  </div>-->
<!--</div>-->
<div th:if="${currentUser.id==user.id}">
  <form th:action="@{'/users/'+${user.id}+'/update'}" method="get">
    <button type="submit">edit profile</button>
  </form>
</div>
<!--<a th:href="@{'/users/'+${user.id}+'/follow'}" th:method="post">Follow</a>-->
</body>
</html>