<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>login</title>
</head>
<header>123</header>
  <body style="text-align: center; font-size: 20px; position: relative; vertical-align: center" >
    <div style="color: red" th:if="${param.error}">
      Invalid auth data
    </div>
    <form action="/login" method="post">
      <label for="username">email
        <input id="username" type="text" name="username">
      </label><br>
      <label for="password">Password
        <input id="password" type="password" name="password">
      </label><br>
      <button type="submit">login</button>
    </form>
    <form action="/registration">
      <button type="submit">register</button>
    </form>
  </body>
<!--<footer>123</footer>-->
</html>
